<ion-content color="primary">
    <div class="custom-header">
        <ion-icon name="menu-outline" (click)="openMenu()"></ion-icon>
    </div>
    <div class="main-content">
        <h1>About <span style="font-family: Yellowtail;">Savey</span></h1>
        <p class="normal-content">
            Savey was built to be the simplest and easiest-to-use file storage app ever!
            It is free and will always be, but if you want to buy me a coffee, consider
            contacting me at one of my social networks below:
        </p>
        <p class="icon-container">
            <ion-icon (click)="openLink('https://fb.com/artptrapp')" name="logo-facebook"></ion-icon>
            <ion-icon (click)="openLink('https://linkedin.com/in/artptrapp')" name="logo-linkedin"></ion-icon>
        </p>
        <p class="normal-content">
            Savey does not store any personal information about you or your device. The only thing stored are your
            uploaded files, and they are not shared with anyone, unless you explicitly allow us to do so.
        </p>
    </div>
</ion-content>